<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do carro</title>

    <link rel="stylesheet" href="/css/carro.css">
</head>

<body>

    <div class="container">

        <div class="imagem">
            <img th:src="${carro.imagem}" alt="Carro">
        </div>

        <div class="info">

            <h1 th:text="${carro.modelo}"></h1>

            <div class="detalhe">
                <strong>Marca:</strong>
                <span th:text="${carro.marca}"></span>
            </div>

            <div class="detalhe">
                <strong>Ano:</strong>
                <span th:text="${carro.ano}"></span>
            </div>

            <div class="detalhe preco">
                R$ <span th:text="${carro.preco}"></span>
            </div>

            <a href="/" class="btn">
                Voltar
            </a>

            <br><br>
            
            <a
            th:href="@{'https://wa.me/5511999999999?text=Olá, tenho interesse no ' + ${carro.modelo}}"
            class="btn">

            Falar no WhatsApp
            </a>

            <div class="detalhe">

                <strong>Descrição:</strong>

                <p th:text="${carro.descricao}"></p>

            </div>

        </div>

    </div>

</body>

</html>